<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
  </head>
  <body>
    <h1>Create new blog post</h1>
    <form action="/newpost" method="post">
      <div>
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" />
      </div>
      <div>
        <label for="content">Content</label>
        <textarea name="content" id="content"></textarea>
        <input type="submit" value="post`" />
      </div>
    </form>
  </body>
</html>
